<p id="notice"><%= notice %></p>

<h1>Listing New Dishes</h1>

<table>
  <thead>
    <tr>
      <th>Chef</th>
      <th>Dish</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nextdoors.each do |nextdoor| %>
      <tr>
        <td><%= nextdoor.chef %></td>
        <td><%= nextdoor.title %></td>
        <td><%= nextdoor.notes %></td>
        <td><%= link_to 'Show', nextdoor %></td>
        <td><%= link_to 'Edit', edit_nextdoor_path(nextdoor) %></td>
        <td><%= link_to 'Destroy', nextdoor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nextdoor', new_nextdoor_path %>
