<p id="notice"><%= notice %></p>

<p>
  <strong>Chef:</strong>
  <%= @nextdoor.chef %>
</p>

<p>
  <strong>Title:</strong>
  <%= @nextdoor.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @nextdoor.notes %>
</p>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<%= link_to 'Edit', edit_nextdoor_path(@nextdoor) %> |
<%= link_to 'Back', nextdoors_path %>
