

<div class='container-posts'>

	
	  	<div class='posts'>
	    
	    	<% @posts.each do |x| %>
				<h2><%= link_to x.name, x %></h2>
					<div>
						<p>
							<%= x.profile.username %>, <%= x.created_at.strftime("%m/%d/%y") %>
						</p>

	 					<p>
	 						<%= number_to_currency(x.price) %>
	 					</p>
					</div>
     		<% end %>
	  	</div>

</div>	
<div>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path, class: "btn btn-link" %>
<% end %>
</div>