<div class='main'>
	</div>
  	
	  	<div class='posts'>
	    <h2>Today's Menu</h2>
	    	<% @posts.each do |x| %>
				<h2><%= x.name %></h2>
					<div>
						<p>
							<%= x.uid %>, <%= x.created_at.strftime("%m/%d/%y") %>
						</p>
	 					<p class="post-body">
	    					<%= x.description %>
	 					</p>
	 					<p>
	 						<%= x.price %>
	 					</p>
					</div>
     		<% end %>
	  	</div>

	</div>
<div>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path, class: "btn btn-link" %>
<% end %>
</div>