<div class = "container-posts">
	
	<h2><%= @post.name %></h2>
	<div>
		<p>
			<%= @post.profile.username %>, <%= @post.created_at.strftime("%m/%d/%y") %>
		</p>
	 	<p>
	    	<%= @post.description %>
	 	</p>
	 	<p>
	 		<%= number_to_currency(@post.price) %>

	 	</p>
	 	<div>
    	
      		Taste : <%= rating_for @post, "taste", :star => 10 %>
      	
  		</div>

	 	<div>
		    <% if current_user == @post.profile %>
		        <%= link_to "Edit", edit_post_path(@post) %>
		        <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
		    <% end %>

		</div>
	</div>
</div> 	